
/*CSS da Pagina Index*/

body{
    /*font-family: 'Brush Script MT', cursive;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
}

#bodyIndex{
    text-align: center;
}

.tablePerfil{
    
}

#fotoPerfil{
    width: 75%;
    height: 75%;
}

.janelaImagem{
    width: fit-content;
}

p{
    font-size: 24px;
}

/*HEADER*/
header{
    /*background-color: burlywood;*/
}
/*FOOTER*/
footer{
    /*background-color: burlywood;*/
}

/*CSS da Pagina da educacao*/

.setaVoltar{
    width: 100px;
    height: 100px;
}

.subtemaTitulo{
    text-decoration: underline dotted blue;
    border: 1px solid blue;
    background-color: lightblue;
    padding: 10px;
}

.imagemEstablecimento{
    width: 300px;
    height: 150px;
}

.conteudoEducacao{
    display: inline-block;

}


a{
    text-decoration: none;
}
/*
div.fotoJogador{
    width: 30%;
    display: inline-block;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    background-color: whitesmoke;
}
*/